SMTP_HOST={{ .secrets.SMTP_HOST }}
SMTP_USER={{ .secrets.SMTP_USER }}
SMTP_PASS={{ .secrets.SMTP_PASS }}
SMTP_PORT={{ .secrets.SMTP_PORT }}
SMTP_FROM={{ .secrets.SMTP_FROM }}
ORDER_RECIPIENT={{ .secrets.ORDER_RECIPIENT }}


